.chat-head{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.chat-header{
    color: #6abff0;
    margin-left: 20px;
}

.chat-img{
    width: 100px;
}

@media (max-width: 450px) {
    .chat-header{
        font-size: 1.4rem;
    }

    .chat-img{
        width: 70px;
    }
}