.sidebar-container{
    height: 100vh;
    background-color: #70afed;
    color: #fdfeff;
    width: -25vw;
}

.sidebar-container.active {
    height: 100vh;
    background-color: #70afed;
    color: #fdfeff;
    width: 25vw !important;
}

.user-profile{
    display: none;
}

.user-profile.active{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.user-img{
    width: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.firebaseuser-img{
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.toggler{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    cursor: pointer;
}

.line{
    width: 25px;
    height: 3px;
    margin-top: 5px;
    background-color: #f7f7f7;
    border-radius: 0.3rem;
    margin-left: auto;
}

.firebase-user{
    display: none;
}

.firebase-user.active{
    display: block;
}

.user-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px 5px;
}

.user-list:hover{
    background-color: skyblue;
}

.current-user{
    text-align: center;
}

.user-container{
    height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .sidebar-container.active{
        width: 50vw !important;
    }

    .user-name{
        font-size: 0.9rem;
    }
}

@media (max-width: 450px) {
    .user-img{
        width: 50px;
    }

    .current-user{
        font-size: 1.2rem;
    }

    .firebaseuser-img{
        width: 30px;
    }

    .user-list span{
        font-size: 0.9rem;
    }
}